.morning{
  color: blue;
  font-size: 3rem;
  text-align: center;
}
.afternoon{
  color: red;
  font-size: 3rem;
  text-align: center;
}
.evening{
  color: green;
  font-size: 3rem;
  text-align: center;
}