.morning{
  color: blue;
  font-size: 3rem;
  text-align: center;
}
.afternoon{
  color: red;
  font-size: 3rem;
  text-align: center;
}
.evening{
  color: green;
  font-size: 3rem;
  text-align: center;
}

.list{
  position: relative;
  left: 35%;
  height: 100%;
  width: 400px;
  background-color: lightblue;
  text-decoration: none;
}

.deleteBtn{
  font-size: 2rem;
}